version: "3.2"

volumes:
  boilerplate_pgsql-data:
  boilerplate_redis-data:

services:

  # Main container with application, composer and possibility to run migrations
  app:
    &app-service
    container_name: boilerplate_app
    restart: on-failure
    build:
      context: .
      dockerfile: ./docker/php-fpm/Dockerfile
    volumes:
      - ./:/app:consistent
    environment:
      - DB_HOST=database
      - DB_PORT=5432
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=laravel
      - REDIS_HOST=redis

  # Queue container extends app
  queue:
    <<: *app-service
    container_name: boilerplate_queue
    command: "php /app/artisan queue:work --memory=64"
    environment:
      - DB_HOST=database
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=laravel
      - REDIS_HOST=redis

  database:
    container_name: boilerplate_database
    image: postgres:12.1-alpine
    volumes:
      - boilerplate_pgsql-data:/var/lib/postgresql/data:cached
    environment:
      - POSTGRES_DB=laravel
      - POSTGRES_USER=laravel
      - POSTGRES_PASSWORD=laravel
    ports:
      - 5432:5432

  nginx:
    image: nginx:alpine
    container_name: boilerplate_nginx
    working_dir: /app
    restart: on-failure
    volumes:
      - ./:/app:cached
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8000:80

  redis:
    image: redis:${REDIS_VERSION:-5.0.5}-alpine
    container_name: boilerplate_redis
    volumes:
      - boilerplate_redis-data:/data:cached
    ports:
      - 6379
      - "4004:6379"
